* {
    box-sizing: border-box;
}

html, body {
    margin: 0px;
    padding: 0px;
    font-family: "Courier New";
    font-weight: 300;
    background-color: #FFF4F2;
}

a {
    color: black;
    text-decoration: none;
}

a:active {
    color: black;
}

a:hover {
    color: #906e67;
}

.home__subtitle{
    text-align: center;
    opacity: 0.75;
    padding-bottom: 15px;
    margin-top:30px;
    position: relative;
}

.home__subtitle::after {
    content: "";
    margin: auto;
    width: 30px;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    opacity: 0.2;
}


/*ABOUT ME

.about-me-text p{
    font-family: 'Cutive Mono', monospace;
    width:80vh;

}

.about_me h2{
    color: black;
}


.about-me-text{
    margin:10px;
}

.find-me{
    margin:50px;
}

.text{
    height: 100px;
    margin: 200px 0;
}

*/

.find-me button{
    margin:10px;
}

.text p{
    margin-top:50px;
}
/*HEADER*/

header {
 background-color:#FFF4F2;
    margin: 10px;
    padding: 0;
}

header .row, footer .row {
  display: flex;
  align-items: center;
}


header nav {
  display: flex;
  justify-content: flex-end;
  font-size: 0.95em;
}

header p {
  padding: 0 0px;
  margin: 0 20px;
}


.row nav a p, header .row h5 {
    font-family: "Courier New";
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
}

.col-md-6 {
  margin: 0 0 30px;
}

/*PRODUCT*/

.desc {
    margin-right:3em;
    padding: 10px;
}

.desc h5, .bold {
    font-weight: bold;
}
.product-name {
    margin-top:22px;
}

/*JUMBOTRON AND RELATED TO IT*/

.main{
    display: flex;
    align-items: center;
    background-image: linear-gradient(to bottom, rgba(242,203,194, .2), rgba(242,203,194, 0.2)), url(3.JPG);
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 80vh;
    background-position:bottom;
}

.main h3{
    text-shadow: 1px 1px white;
}
.blogs{
    display: flex;
    align-items: center;
    background-image: url(blog_background.png);
    background-position:center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 80vh;
}


.jumbotron h2 {
  font-size: 60px;

  margin-top: 1em;
  color: #FFF4F2;

}

.jumbotron h3 {
  margin: 0 0 20px;
  color: black;

}



/*BUTTON*/

.btn-primary {
    background-color: transparent;
    border-color: black;
    color: black;
}

.btn.btn-primary. {
  border: 0px;
  color: black;
  box-shadow: 0 0 0 2px rgba(0,0,0, 0.25);
  padding:7px 20px;  
}

.btn.btn-primary:hover, .btn.btn-primary:focus, .btn.btn-primary:root {
  background-color: transparent;
    border-color: #906e67!important;
    color:black!important;    

}

.btn a:active selector {
  background: rgba(0,0,0, 3);
  box-shadow: 0 0 0 2px rgba(144, 144, 144, 0.5);
  top: 2px;
}

.btn{
    margin: 2em;
    margin:0;
}

.mybutton btn {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center;
}

.more-button button{
    width:150px;
    height:50px;
    background-color: transparent;
    border: 1px solid #d8c2be;
    font-size: 20px;
    color: #d8c2be;
    margin-top:30px;
}


.more-button button:hover {
    border: 1px solid #d8c2be;
}


/*CAROUSEL*/

.stay {
    position:sticky; 
    top: 0;
}

#carouselExampleIndicators .carousel-indicators li {
  background-color: brown;
  background-color: black;
}

#carouselExampleIndicators .carousel-indicators .active {
  background-color:#8b6760;
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(30%);
}

/*PRODUCT*/

.product-name h2 {
    font-weight: bold;
}

.product-buttons .container .row  {
align-items: center;

}

.product-buttons {
    margin: 3em 0;
}

/*CARDS*/

.for-cards {
  display: flex;
  justify-content: center;
    flex-wrap: wrap;
}

.shelf{
    max-width:500px;
    min-width: 20px;
}


.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 3em 3em;
}
.card{
    margin: 0.5em;
    width: 18rem;
    height:25rem;
    font-family: "Courier New";
    color: black;
    background-color: #FFF4F2;
    border:0.1px solid #edd8d4;   
}


.card img{
    
}

.card:hover {
  transform: scale(0.95, 0.95);
    border: 1px solid #906e67;
    
/* box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.001),
      -5px -5px 30px 15px rgba(0,0,0,0.1);
 z-index:500;*/
}


/*FOOTER*/

.footer-basic {
  padding:40px 0;
  background-color:white;;
  color:#4b4c4d;
    border-top: 1px solid white;
    margin-top:10px;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:14px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}


